<div class="card-group">
    {{#if logged_in}}
    {{#each events as |event|}}
    <div class="event-container event-card text-white bg-dark m-3" style="width: 18rem;">
        <img src="/images/event-tape.png" class="card-img-top" alt="cassette">
        <div class="card-body">
            <h5 class="card-title font-weight-bold"><a href="/events/{{event.id}}"
                    class="bg-primary text-white">{{event.name}}</a></h5>
            <p>Created by: {{event.created_by}}</p>
            <p><time>{{event.starting_date}}</time> - <time>{{event.ending_date}}</time></time></p>
            <p class="card-text">{{event.description}}</p>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-dark text-white mb-3">
                    <thead>
                        <tr>
                            <td>Beer Never Broke My Heart</td>
                            <td>Luke Combs</td>
                            <td>What You See Is What You Get</td>
                            <td><a
                                    href="https://p.scdn.co/mp3-preview/c7f6e8d82c8f97ca31cd48fdb366e77a42544e1d?cid=445cce353aed401ebb3154c4748ab4a8">Preview</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody scope="row" id="songs-table-body">
                    </tbody>
                </table>
            </div>
            <a href="/events/{{event.id}}" class="submit btn btn-primary">add a song</a>
        </div>
    </div>
    {{/each}}
    {{else}}
    <a class="justify-content-center align-items-center" href="/login">You must login first to view this
        page</a>
    {{/if}}
</div>

<script src="/js/event.js"></script>
