{{#each events as |event|}}
<section class="container mx-auto">

  <h3 class="dashboard-name"> <a href="{{event.id}}">{{event.name}}</a></h3>
  <p>{{event.description}}</p>
  <p>{{event.starting_date}}{{event.ending_date}}</p>
  <p>{{event.created_by}}</p>
  <!-- If the user is logged in, render the gallery content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each event.songs as |song|}}
    {{> song-details}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
{{/each}}